@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Cinma City</h1>
    <p>In Cinma City you can see which movies are hot right now!</p>
</div>

<div style="margin: 35px">
    @Html.Partial("ProductsCarousel")
</div>

<section class="center-block text-center" style="margin: 50px;">
    <video controls autoplay width="500">
        <source src="~/video/video.mov" type=video/mp4 />
    </video>
</section>


<div style="margin: 25px;" class="center-block text-center">
    @Html.Partial("Category")
</div>

<br />
<hr />
<br />

<section style="display:inline-flex">
    @Html.Partial("ProductsSearch")
    <form asp-action="Predict" asp-controller="Catalog" method="get" style="display: inherit;
    float: right;
    margin-top: 63px;
    margin-left: 30px;">
        <div class="form-group">
            
        </div>
    </form>
</section>
