<style>
    

    body {
        text-align: center;
        background: #d6e7ef;
    }

    .conatiner {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 900px;
    }








 
</style>

<div style="z-index: 100">
    <h2>@ViewBag.ErrorMessage</h2>
</div>

<div class="conatiner" style="width:100%;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/images/Error.jpg" style="height:500px; width:300px"/>
</div>